.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    color: var(--text-main);
    min-height: 140px;
}

.header-text {
    font-size: 64px;
    text-align: center;
    color: var(--text-main);
}

.theme-btn {
    position: absolute;
    right: 41px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    background: transparent;
    border: none;
    color: var(--text-main);
    cursor: pointer;
}

.icon {
    width: 48px;
    height: 48px;
    color: var(--text-main);
}
