.main-page {
    display: grid;
    grid-template-columns: 359px 1fr;
    background-color: var(--main-bg);
    color: var(--text-main);
    height: 100vh;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
