<div class="sidebar">
    <tui-icon icon="@tui.text-align-justify" class="text-icon" />
    <div class="about-me">
        <img src="avatar.png" alt="" />
        <div class="info-about-me">
            <div>Jane Doe</div>
            <div>janedoegmail.com</div>
        </div>
    </div>
    <div>
        <div class="btn-navigation">
            <button tuiButton class="btn">
                <tui-icon icon="@tui.list-todo" />
                <div>My Tasks</div>
            </button>
            <button tuiButton class="btn">
                <tui-icon icon="@tui.settings" />
                <div>Settings</div>
            </button>
        </div>
    </div>
</div>
